body {
    background-color: whitesmoke;
}

.lijst {
    display: flex;
    justify-content: space-evenly;
}

.Kleding {
    width: 250px;
}

.isan {
    list-style: none;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    text-align: center;
}

.isan:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px;
    transition: all 0.3s ease;
}

p {
    text-align: center;
    font-size: small;
}

.logo {
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
}

button[type="submit"] {
    display: block;
    margin: auto;
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}

button:hover {
    color: grey;
}

.Hkleur {
    color: darkslategray;
    font-size: large;
}

.H2 {
    text-align: center;
}



li a,
.akids {
    color: black;
}

.divkids {
    display: none;
    position: absolute;
    background-color: whitesmoke;
}

.divkids a {
    color: black;
    display: block;
    text-align: left;
}

.divkids a:hover {
    background-color: ghostwhite;
}

.Kids:hover .divkids {
    display: block;
}