nav {
    background-color: whitesmoke;
    display: flex;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding: 1px;
}


.nav-ul a:hover {
    background-color: grey;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.3s;

}

.winkelwagen {
    display: flex;
    width: 33px;
    height: 35px;
    padding-top: 10px;
    border-radius: 25px;
}

.profile {
    display: flex;
    width: 38px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
}

.icoon {
    display: flex;
    margin-right: 15px;

}

.nav-zoeken {
    display: flex;
    border-radius: 1px;
    margin-left: auto;
    margin-bottom: 5px;
    height: 25px;
    margin-top: 20px;

}

.logo {
    width: 65px;
    border-radius: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



li a,
.aheren {
    display: flex;
    color: black;
    font-size: large;

    padding: 14px 16px;
    text-decoration: none;
    z-index: 10;
}

.divheren {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px (0, 0, 0, 0.2);
}

.divheren a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.divheren a:hover {
    background-color: lightgray;
}

.Heren:hover .divheren {
    display: block;
}

li a,
.adames {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.divdames {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px (0, 0, 0, 0.2);
}

.divdames a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.divdames a:hover {
    background-color: lightgrey;
}

.Dames:hover .divdames {
    display: block;
}

li a,
.akids {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.divkids {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px (0, 0, 0, 0.2);
}

.divkids a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.divkids a:hover {
    background-color: lightgrey;
}

.Kids:hover .divkids {
    display: block;
}



.h1 {
    color: white;
    font-size: 100px;
    max-width: 500px;
    margin-left: 30px;
}

.tekst {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 30px;
}

.lijst {
    display: flex;
    justify-content: space-evenly;
}

.Schoenen {
    width: 250px;

}

.isan {
    list-style: none;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    text-align: center;
}

h2 {
    text-align: center;
}

.isan:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px;
    transition: all 0.3s ease;
}

button[type="submit"] {
    display: block;
    margin: 20px auto;
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
}

button:hover {
    color: grey;
}

.Hkleur {
    color: darkslategray;
    font-size: large;
}


.banner {
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    width: 100%;
    font-size: 70px;
    background: url(/images/banner-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    text-align: center;
}